<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Real Estate Website{% endblock %}</title>
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}" preload>
    <script src="https://unpkg.com/htmx-ext-preload@2.0.1/preload.js"></script>
</head>
<body hx-ext="preload">
    <header>
        <nav>
            <ul>
                <li><a href="/" preload>Home</a></li>
                <li><a href="/admin">Admin</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Real Estate Website</p>
    </footer>
</body>
</html>
