<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Real Estate Management{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
    {% block extra_css %}{% endblock %}
</head>
<body class="shared-layout">
    <header class="main-header">
        <nav class="nav-container">
            <div class="nav-logo">
                <a href="/">
                    <img src="/static/logo.png" alt="Company Logo" class="logo">
                </a>
            </div>
            <ul class="nav-menu">
                {% block navigation %}
                {% endblock %}
            </ul>
        </nav>
    </header>
    <main class="content-area">
        {% block content %}{% endblock %}
    </main>
    <footer class="main-footer">
        <p>&copy; Cherokee Street Real Estate </p>
    </footer>
    {% block extra_js %}{% endblock %}
</body>
</html>
